html
    head
        title #{title} | Posts
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
    body
        div.container
            div.row
                div.col-6
                    h1 #{title}
                div.col-6.text-right
                    a(href='/post/', class='btn btn-secondary') Back
                    a(href='/post/' + _id + '/edit', class='btn btn-primary') Edit
            div.row
                div.col-12
                    p #{content}

        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js')
