html
    head
        title My cool website
    body
        form(method="POST")
            input(name="title")
            textarea(name="content")
            button Submit
        
        div #{title}: #{content}
